<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom App</title>
      <div class="logout-container">
        <.form :let={f} for={%{}} action="/users/log_out" method="delete">
        <button type="submit">Log out</button>
        </.form>
      </div>
  </head>

  <body>
    <div id="chat-area">
      <div id='message-list' class='row'>
      </div>
      <div class='row form-group'>
          <input type='text' id='message' class='form-control' placeholder='Press enter to send message' />
        </div>
      <div id='users-list' class='row'>
      </div>
      </div>

      
      
  </body>
  
</html>